:root {
    --color-lightBlue: #2ACCC2;
    --color-darkBlue: #26333D;
    --color-blue: #4A67DF;
    --color-blue2: #248dad;
}

.h1 {
    --color-lightBlue: #2ACCC2;
}

.h2 {
    --color-lightBlue: #2ACCC2;
}

.titulo {
    content: "";
    border-bottom: 2px solid var(--color-blue);
    width: 39%;
}

.table-blue {
    background-color: #ebebeb;
    border-color: #f6f7f8;
    text-align: center;
}

#custom-tabela {
    border-radius: 2px 2px 2px 2px !important;
}