:root {
  --color-lightBlue: #2ACCC2;
  --color-darkBlue: #26333D;
  --color-blue: #4A67DF;
  --color-blue2: #248dad;
}

.active-link {
  background-color:var(--color-blue);
  color: white !important ;
 
}
